[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A website blocker using python.
[access "refs/*"]
	owner = group user/Sandra VS Nair (sandra-vs-nair)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sandra VS Nair (sandra-vs-nair)
	label-Verified = -1..+1 group user/Sandra VS Nair (sandra-vs-nair)
	push = group user/Sandra VS Nair (sandra-vs-nair)
	read = group user/Sandra VS Nair (sandra-vs-nair)
	rebase = group user/Sandra VS Nair (sandra-vs-nair)
	removeReviewer = group user/Sandra VS Nair (sandra-vs-nair)
	submit = group user/Sandra VS Nair (sandra-vs-nair)
[access "refs/heads/*"]
	create = group user/Sandra VS Nair (sandra-vs-nair)
	push = +force group user/Sandra VS Nair (sandra-vs-nair)
	pushMerge = group user/Sandra VS Nair (sandra-vs-nair)
	read = group user/Sandra VS Nair (sandra-vs-nair)
[access "refs/tags/*"]
	push = group user/Sandra VS Nair (sandra-vs-nair)
	push = +force group user/Sandra VS Nair (sandra-vs-nair)
